@layer base{
    .heading1B{
        font-family: "Roboto";
        color: #FFFFFF;
        font-size:4rem ; 
        font-weight: 700;
    }
    .heading1{
        font-family: "Roboto";
        color: #FFFFFF;
        font-size: 4rem; 
    }
    .heading2{
        font-family: "Roboto";
        color: #FFFFFF;
        font-size: 3rem; 
    }
    .heading3{
        font-family: "Roboto";
        color: #FFFFFF;
        font-size:2.5rem; 
    }
    .heading4{
        font-family: "Roboto";
        color: #FFFFFF;
        font-size:2rem; 
    }
    .paragraph{
        font-family: "Roboto";
        color: #FFFFFF;
        font-size: 1rem;
    }
  
}